openapi: 3.2.0
info:
  title: Narakeet Account API
  description: The Narakeet API turns text and Markdown scripts into narrated audio and video programmatically.
  version: '1.0'
  contact:
    name: Narakeet
    url: https://www.narakeet.com
    email: contact@narakeet.com
servers:
- url: https://api.narakeet.com
  description: Narakeet API
security:
- apiKeyAuth: []
tags:
- name: Account
  description: Check remaining account credits.
paths:
  /account/credits:
    get:
      operationId: getAccountCredits
      tags:
      - Account
      summary: Get remaining account credits
      description: Returns the quantity of credit seconds still available on the account, together with the billing plan and identity metadata for the API key.
      responses:
        '200':
          description: Account credit balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCredits'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key, or the account is not eligible for API access.
    TooManyRequests:
      description: The daily request quota (default 86,400 per day, 1 per second) was exceeded.
  schemas:
    AccountCredits:
      type: object
      properties:
        creditSeconds:
          type: integer
          description: Quantity of credit seconds still available for the account.
        requestId:
          type: string
          description: Internal request identifier.
        identity:
          type: string
          description: The API access key ID that made the request.
        billingId:
          type: string
          description: Billing plan identifier.
        plan:
          type: string
          description: Billing plan type (for example, TOPUP).
          example: TOPUP
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
